/* styles/globals.css */

html, body {
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}
